:root {
  /* color */
  --purplr: #a729f5;
  --dark-navy: #313e51;
  --navy: #3b4d66;
  --grey-navy: #626c7f;
  --light-buluish: #abc1e1;
  --light-grey: #f4f6fa;
  --white: #ffffff;
  --green: #26d782;
  --red: #ee5454;
}

